@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

$main-color: rgb(87, 202, 195);
$broken-white-color: rgb(248, 248, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.fp-watermark {
    display: none !important;
}

// #fp-nav {
//     ul {
//         li {
//             a {
//                 span {
//                     width: 20px !important;
//                     height: 20px !important;
//                 }
//             }
//         }
//     }
// }

// navigation bar

.hamburger-icon {
    z-index: 10000;
    position: fixed;
    left: 85%;
    font-size: 54px;
    display: none;
    ion-icon {
        font-size: 20px;
        color: black;
    }
}

#my-nav {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 1000;

    li {
        padding: 0.3rem;
        list-style-type: none;

        ion-icon {
            font-size: 25px;
        }
    }
}

.navbar {
    z-index: 1000;
    position: relative;

    .toggle {
        position: fixed;
        top: 5%;
        right: 2%;
        width: 30px;
        height: 30px;
        background: url("../images/menu-icon.png");
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(87, 202, 195, 0.6);
        z-index: 20;
        cursor: pointer;
        transition: 0.6s ease;
        padding: 1.5rem;
        border: 2px solid white;
    }

    .toggle.active {
        background: url("../images/close-icon.png");
        background-color: rgba(0, 0, 0, 0.4);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 380px;
        height: 100%;
        z-index: 15;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: 1.4s ease;
        gap: 3rem;

        ul {
            text-decoration: none;
            list-style-type: none;
            padding: 2.7rem;

            li {
                line-height: 32px;

                a {
                    text-decoration: none;
                }
                // h2 {
                //     font-size: 30px;
                //     border-bottom: 2px solid $main-color;
                //     color: $main-color;
                //     text-decoration: none;

                //     &:hover {
                //         transform: translateX(7px);
                //     }
                // }
            }

            h2 {
                line-height: 32px;
                font-size: 30px;
                font-weight: 500;
                border-bottom: 2px solid $main-color;
                color: $main-color;
                transition: all 1s ease;
                &:hover {
                    transform: translateX(12px);
                }
            }
        }

        .navigation__socials {
            display: flex;
            margin: auto auto auto 2.2rem;
            gap: 1rem;
            position: relative;
            transition: all 1s ease;

            .button__afspraak {
                position: absolute;
                bottom: 150%;
                width: 150px;
                height: 38px;
                font-size: 15px;
                border-radius: 10px;
                border: 1px solid white;
                background-color: rgba(87, 202, 195, 0.7);
                cursor: pointer;
                transition: all 1s ease;
                border: 0.2px solid black;

                &:hover {
                    transform: translateX(12px);
                }
            }

            .button__webshop {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                top: 150%;
                height: 38px;
                font-size: 15px;
                border-radius: 10px;
                background-color: rgba(87, 202, 195, 0.7);
                cursor: pointer;
                transition: all 1s ease;
                border: 0.2px solid black;

                &:hover {
                    transform: translateX(12px);
                }

                ion-icon {
                    font-size: 20px;
                }
            }

            .footer_socials {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                ion-icon {
                    font-size: 32px;
                    color: $main-color;
                    border-radius: 25%;
                    padding: 0.7rem;
                    border: 0.7px solid rgb(87, 202, 195);
                    background-color: white;
                    transition: all 1s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .navigation.active {
        right: 0;
    }
}

// .navbar {
//     position: fixed;
//     z-index: 1000;
//     overflow: hidden;
//     margin-top: 0.5rem;
//     width: 100vw;
//     display: flex;
//     justify-content: center;

//     .container-navbar {
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         background-color: rgba(0, 0, 0, 0.15);
//         padding: 1rem;
//         width: 700px;
//         position: fixed;

//         li {
//             text-decoration: none;
//             display: block;
//             position: relative;
//             transition: all 2s ease-in-out;

//             .text {
//                 opacity: 0;
//                 transition: 1s ease;
//                 font-weight: 600;
//                 padding: 5px;
//                 font-size: 12px;
//                 color: $main-color;
//             }

//             &:hover .nav-icon {
//                 transform: translateY(-11px);
//                 transition: 1s;
//             }

//             &:hover .text {
//                 opacity: 1;
//                 transform: translateY(7px);
//                 font-weight: 700;
//             }

//             .icon-nav {
//                 display: flex;
//                 flex-direction: column;
//                 font-size: 20px;
//                 color: black;
//                 background-color: rgba(255, 255, 255, 1);
//                 border: 1px solid rgba(87, 202, 195, 1);
//                 border-radius: 25%;
//                 transition: all 1s ease-in;
//                 padding: 1.1rem;
//                 text-decoration: none;
//                 text-transform: uppercase;
//                 justify-content: center;
//                 align-items: center;
//             }

//             &:hover .icon-nav {
//                 display: flex;
//                 flex-direction: column;
//                 background-color: rgba(255, 255, 255, 1);
//                 border-radius: 25%;
//                 transform: scale(1.05);
//             }

//             h3 {
//                 font-weight: 300;
//                 font-size: 14px;
//                 position: absolute;
//             }
//         }
//         .dropdown {
//             position: relative;
//             .dropdown-content {
//                 display: flex;
//                 flex-direction: row;
//                 justify-content: space-evenly;
//                 transition: all 1s ease-in-out;
//                 position: absolute;
//                 top: 130%;
//                 visibility: hidden;
//                 opacity: 0;
//                 min-width: 1100px;
//                 right: -540%;
//                 height: 250px;
//                 background-color: rgba(255, 255, 255, 0.9);
//                 padding: 1rem;

//                 .dropdown-col__one {
//                     display: flex;
//                     flex-direction: column;
//                     z-index: 1000;

//                     hr {
//                         text-align: left;
//                         border: 0;
//                         border-bottom: 0.5px solid $main-color;
//                         width: 130px;
//                         margin: 0;
//                     }

//                     .footer_socials {
//                         display: flex;
//                         gap: 2rem;
//                         padding: 1rem 0rem;

//                         ion-icon {
//                             font-size: 32px;
//                             color: $main-color;
//                             border-radius: 25%;
//                             padding: 0.7rem;
//                             border: 0.7px solid rgb(87, 202, 195);
//                             background-color: white;
//                         }
//                     }

//                     a {
//                         text-decoration: none;
//                         text-transform: uppercase;
//                         padding: 1rem;
//                         text-align: left;
//                         font-size: 16px;
//                         color: black;
//                     }

//                     h4 {
//                         color: $main-color;
//                         font-size: 20px;
//                         text-align: left;
//                     }
//                 }
//             }
//         }
//     }
// }

// .fixed-contact {
//     position: fixed;
//     bottom: 2%;
//     right: 1%;
//     width: 70px;
//     height: 70px;
//     z-index: 100000;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: all 1s ease-in;

//     ion-icon {
//         font-size: 50px;
//     }

//     .small-contact {
//         visibility: hidden;
//         position: absolute;
//         right: 50%;
//         bottom: 50%;
//         background-color: white;
//         padding: 3rem;
//         clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 0 84%, 0 100%, 0% 75%);
//     }
// }

// SECTION 1

.s1 {
    background-image: url("../images/rk\ header.jpg");
    background-size: cover;
    .header-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 1rem;

        h1 {
            color: black;
            font-size: 50px;
            font-weight: 700;
            z-index: 100;
            // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        .logo {
            width: 500px;
            z-index: 1000;
            img {
                width: 100%;
                max-width: 500px;
            }
        }
    }

    .waves {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 40vh;
        min-height: 250px;
        max-height: 500px;
    }

    /* Animation */

    .parallax {
        > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
            &:nth-child(1) {
                animation-delay: -2s;
                animation-duration: 7s;
            }
            &:nth-child(2) {
                animation-delay: -3s;
                animation-duration: 10s;
            }
            &:nth-child(3) {
                animation-delay: -4s;
                animation-duration: 13s;
            }
            &:nth-child(4) {
                animation-delay: -5s;
                animation-duration: 20s;
            }
        }
    }
    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }
        100% {
            transform: translate3d(85px, 0, 0);
        }
    }
}

// SECTION 2
.s2 {
    .slide-one {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        // background-image: url(../images/Background-dummy.jpg);
        background-color: rgba(87, 202, 195, 0.3);
        box-shadow: inset 0 0 0 1000px rgb(248, 248, 255);
        .slideone__box-one {
            border: 1px solid white;
            width: 100%;
            grid: 100%;
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            position: relative;
            display: flex;
            row-gap: 1rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: auto;
            transition: all 1s ease;
            border: 1px solid rgba(87, 202, 195, 0.3);

            a {
                text-decoration: none;
            }

            hr {
                text-align: left;
                border: 0;
                border-bottom: 0.5px solid $main-color;
                width: 130px;
                margin: 0;
            }

            h2 {
                color: $main-color;
            }

            p {
                font-size: 14px;
                text-align: center;
                // opacity: 0;
                // position: absolute;
                padding: 0.5rem 2rem;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 38px;
                font-size: 15px;
                border-radius: 10px;
                background-color: rgba(87, 202, 195, 0.7);
                cursor: pointer;
                transition: all 1s ease;
                border: 0.2px solid black;
                text-decoration: none;

                &:hover {
                    transform: translateX(12px);
                }
            }
            // @keyframes RKbutton {
            //     0% {
            //         transform: translateZ(0px);
            //     }

            //     50% {
            //         transform: translateZ(10px);
            //     }

            //     100% {
            //         transform: translateZ(0px);
            //     }
            // }
            // button:hover {
            //     animation-play-state: running;
            // }

            // &:hover p {
            //     opacity: 1;
            //     transition: all 1s ease-in;
            //     display: block;
            //     transform: translateY(20px);
            // }

            // &:hover a {
            //     transform: translateY(60px);
            //     transition: all 1s ease-in;
            // }

            // &:hover h2 {
            //     transform: translateY(-37px);
            //     transition: all 1s ease-in;
            // }

            // &:hover .first__icon {
            //     transform: translateY(-20px);
            //     transition: all 1s ease-in;
            // }

            ion-icon {
                font-size: 25px;
            }

            // @keyframes pillars {
            //     0% {
            //         transform: translate3d(-90px, 0, 0);
            //     }
            //     100% {
            //         transform: translate3d(85px, 0, 0);
            //     }
            // }
        }
    }

    .slide-two {
        position: relative;
        background: rgb(248, 248, 255);

        .slide-two__object {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 1rem;
            gap: 1rem;
            align-items: center;
            z-index: 10000;

            .slide-two__text {
                padding: 1rem;
                z-index: 10000;
                width: 100%;
                max-width: 650px;
                background: rgba(0, 0, 0, 0.4);
                box-shadow: rgba(87, 202, 195, 0.1) 30px -30px;

                h2 {
                    color: $main-color;
                    font-size: 28px;
                }

                p {
                    color: white;
                }
            }

            img {
                width: 100%;
                max-width: 450px;
                box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
                z-index: 10000;
            }
        }

        .slide-two__object_two {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            padding: 1rem;
            gap: 1rem;
            align-items: center;
            z-index: 10000;

            .slide-two__text {
                padding: 1rem;
                z-index: 10000;
                width: 100%;
                max-width: 650px;
                background: rgba(0, 0, 0, 0.4);
                box-shadow: rgba(87, 202, 195, 0.1) 30px -30px;

                h2 {
                    color: $main-color;
                    font-size: 28px;
                }

                p {
                    color: white;
                }
            }

            img {
                width: 100%;
                max-width: 450px;
                box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
                z-index: 10000;
            }
        }
    }

    .slide-four {
        position: relative;
        background: rgb(248, 248, 255);

        .slide-four__object {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 1rem;
            gap: 1rem;
            align-items: center;
            z-index: 10000;

            img {
                width: 100%;
                max-width: 450px;
                box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
                z-index: 10000;
            }

            .slide-four__textarea {
                padding: 2rem;
                z-index: 10000;
                width: 100%;
                max-width: 650px;

                h2 {
                    color: $main-color;
                    font-size: 28px;
                }
            }
        }

        .slide-four__object_two {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            padding: 1rem;
            gap: 1rem;
            align-items: center;
            z-index: 10000;

            img {
                width: 100%;
                max-width: 450px;
                box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
                z-index: 10000;
            }

            .slide-four__textarea {
                padding: 2rem;
                z-index: 10000;
                width: 100%;
                max-width: 650px;

                h2 {
                    color: $main-color;
                    font-size: 28px;
                }
            }
        }
    }
}

// SECTION 3 TEAM SECTION

.s3 {
    background-image: url("../images/team-background-mirrored-transparent.png");
    background-color: $broken-white-color;
    background-size: cover;

    .team__container {
        display: flex;
        justify-content: space-evenly;
        gap: 11rem;
        padding: 2rem;

        .team__empty {
            flex: 40%;
            width: 700px;
            height: 500px;

            img {
                opacity: 0;
            }
        }
        .flex-test {
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            .team__card_one {
                flex: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                background-color: rgba(0, 0, 0, 0.4);
                box-shadow: rgba(87, 202, 195, 0.3) -30px -30px;

                hr {
                    text-align: left;
                    border: 0;
                    border-bottom: 0.5px solid $main-color;
                    width: 130px;
                    margin: 0;
                    margin: 0 0 0 1rem;
                }

                h3 {
                    color: $main-color;
                    font-size: 24px;
                    padding-left: 1rem;
                }

                p {
                    padding: 1rem;
                    color: white;
                }

                img {
                    width: 100%;
                    max-width: 500px;
                }
            }

            .team__card_two {
                flex: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background-color: rgba(0, 0, 0, 0.4);
                box-shadow: rgba(87, 202, 195, 0.3) -30px 30px;

                hr {
                    text-align: left;
                    border: 0;
                    border-bottom: 0.5px solid $main-color;
                    width: 130px;
                    margin: 0 0 0 1rem;
                }

                h3 {
                    color: $main-color;
                    font-size: 24px;
                    padding-left: 1rem;
                }

                p {
                    padding: 1rem;
                    color: white;
                }

                img {
                    width: 100%;
                    max-width: 500px;
                }
            }
        }
    }
}

// SECTION 4

.s4 {
    background: rgb(248, 248, 255);

    .locations {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        justify-content: center;
        width: 100%;
        max-width: 100vw;
        height: 100%;
        padding: 0;

        .location__one {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            line-height: 1.5rem;

            .line {
                position: absolute;
                left: 49%;
                top: 28%;
                width: 200px;
                height: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }

            .location__text {
                p {
                    padding: 0.1rem;
                    font-size: 18px;
                }

                hr {
                    text-align: left;
                    border: 0;
                    border-bottom: 0.5px solid $main-color;
                    width: 260px;
                    margin: 0;
                }

                h3 {
                    color: $main-color;
                    font-size: 25px;
                    padding: 4px 0;
                }
            }

            img {
                width: 100%;
                max-width: 380px;
                box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
            }
        }

        .location__two {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            line-height: 1.5rem;
            .line {
                position: absolute;
                right: 49%;
                bottom: 31%;
                width: 200px;
                height: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }

            .location__text {
                padding: 2rem;
                p {
                    padding: 0.1rem;
                    font-size: 18px;
                }
                hr {
                    text-align: left;
                    border: 0;
                    border-bottom: 0.5px solid $main-color;
                    width: 260px;
                    margin: 0;
                }

                h3 {
                    color: $main-color;
                    font-size: 25px;
                    padding: 4px 0;
                }
            }

            img {
                width: 100%;
                max-width: 380px;
                box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
            }
        }
    }
}

// SECTION 5 FOOTER

.s5 {
    background: rgb(240, 248, 255);

    .footer_one {
        height: 40vh;
        hr {
            border-top: 1px solid black;
        }

        .footer-contact {
            padding: 0.8rem;

            form {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                label {
                    padding: 0 1rem;
                    color: $main-color;
                    text-align: left;
                    justify-content: left;
                    font-size: 19px;
                    font-weight: 400;
                }

                input {
                    width: 300px;
                    height: 40px;
                    padding: 1rem;
                    border-radius: 0;
                    border: 0;
                    border-bottom: 1px solid gray;
                    background-color: rgba(255, 255, 255, 0.7);
                }

                select {
                    width: 250px;
                    height: 40px;
                    border-radius: 0;
                    border: 0;
                    border-bottom: 1px solid gray;
                    background-color: rgba(255, 255, 255, 0.7);
                }

                button {
                    width: 120px;
                    height: 35px;
                    border-radius: 10px;
                    border: 1px solid white;
                    background-color: rgba(87, 202, 195, 0.7);
                    cursor: pointer;
                }

                .footer_socials {
                    display: flex;
                    gap: 2rem;

                    ion-icon {
                        font-size: 32px;
                        color: $main-color;
                        border-radius: 25%;
                        padding: 0.5rem;
                        border: 0.7px solid rgb(87, 202, 195);
                        background-color: white;
                    }
                }
            }
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            height: 25vh;

            hr {
                text-align: left;
                border: 0;
                border-bottom: 0.5px solid $main-color;
                width: 180px;
                margin: 0;
            }

            .footer-first__two {
                display: flex;
                flex-direction: row;
                gap: 10rem;
                .footer-links__three {
                    display: flex;
                    flex-direction: column;
                    flex: 50%;
                    align-items: flex-start;
                    justify-content: center;

                    h3 {
                        font-size: 25px;
                        color: $main-color;
                    }

                    a {
                        padding: 5px;
                        margin: 0;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }

                .footer-links__two {
                    display: flex;
                    flex: 50%;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h3 {
                        font-size: 25px;
                        color: $main-color;
                    }

                    a {
                        padding: 5px;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }

            .footer-second-two {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                gap: 10rem;
                .footer-links__one {
                    align-items: flex-start;
                    display: flex;
                    flex: 50%;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;

                    h3 {
                        padding: 0 5px;
                        font-size: 25px;
                        color: $main-color;
                    }
                    p {
                        padding: 5px;
                        font-weight: 600;
                    }
                }
                .footer-links__four {
                    display: flex;
                    justify-content: center;
                    flex: 50%;
                    align-items: center;

                    .logo {
                        width: 200px;

                        img {
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}
// MEDIA QUERIES PHONE

@media screen and (max-width: 600px) {
    // NAVIGATION BAR

    .navbar {
        z-index: 1000;

        .toggle {
            position: fixed;
            top: 1%;
            right: 2%;
            width: 30px;
            height: 30px;
            background: url("../images/menu-icon.png");
            background-size: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgba(87, 202, 195, 0.6);
            z-index: 20;
            cursor: pointer;
            transition: 0.6s ease;
            padding: 1.5rem;
            border: 2px solid white;
        }

        .navigation.active {
            right: 0;
        }
    }

    // SECTION 1

    .s1 {
        background-image: url("../images/rk\ header.jpg");
        background-size: cover;
        .header-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem;

            h1 {
                color: black;
                font-size: 50px;
                font-weight: 700;
                z-index: 100;
                // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }

            .logo {
                width: 300px;
                z-index: 1000;
                img {
                    width: 100%;
                    max-width: 300px;
                }
            }
        }

        div {
            .waves {
                position: relative;
                width: 100%;
                display: none;
                margin-top: auto;
                z-index: 10000000à;
                margin-bottom: -7px; /*Fix for safari gap*/
                height: 40px;
                min-height: 40px;
            }
        }

        /* Animation */

        .parallax > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
        }
        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }
            100% {
                transform: translate3d(85px, 0, 0);
            }
        }
    }
    // SECTION 2
    .s2 {
        .slide-one {
            display: grid;
            height: 100vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            // background-image: url(../images/Background-dummy.jpg);
            background-color: rgba(87, 202, 195, 0.3);
            box-shadow: inset 0 0 0 1000px rgb(248, 248, 255);
            .slideone__box-one {
                border: 1px solid white;
                width: 100%;
                grid: 100%;
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                position: relative;
                display: flex;
                row-gap: 1rem;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: auto;
                transition: all 1s ease-in;
                border: 1px solid rgba(87, 202, 195, 0.3);

                h2 {
                    margin: auto;
                }
                button {
                    margin: 0.2rem;
                }

                p {
                    display: none;
                }
            }
        }

        .slide-two {
            position: relative;
            background: rgb(248, 248, 255);

            .slide-two__object {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
                align-items: center;
                z-index: 10000;

                .slide-two__text {
                    padding: 1rem;
                    z-index: 10000;
                    width: 100%;
                    max-width: 650px;
                    background: rgba(0, 0, 0, 0.4);
                    box-shadow: rgba(87, 202, 195, 0.1) 10px -10px;

                    h2 {
                        color: $main-color;
                        font-size: 28px;
                    }

                    p {
                        color: white;
                    }
                }

                img {
                    width: 100%;
                    max-width: 250px;
                    box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
                    z-index: 10000;
                }
            }

            .slide-two__object_two {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
                align-items: center;
                z-index: 10000;

                .slide-two__text {
                    padding: 1rem;
                    z-index: 10000;
                    width: 100%;
                    max-width: 650px;
                    background: rgba(0, 0, 0, 0.4);
                    box-shadow: rgba(87, 202, 195, 0.1) 10px -10px;

                    h2 {
                        color: $main-color;
                        font-size: 28px;
                    }

                    p {
                        color: white;
                    }
                }

                img {
                    display: none;
                    width: 100%;
                    max-width: 250px;
                    box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
                    z-index: 10000;
                }
            }
        }

        .slide-four {
            position: relative;
            background: rgb(248, 248, 255);

            .slide-four__object {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
                align-items: center;
                z-index: 10000;

                img {
                    width: 100%;
                    max-width: 250px;
                    box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
                    z-index: 10000;
                }

                .slide-four__textarea {
                    padding: 0.5rem 1rem 0.2rem 1.5rem;
                    z-index: 10000;
                    width: 100%;
                    max-width: 650px;

                    h2 {
                        color: $main-color;
                        font-size: 28px;
                    }
                }
            }

            .slide-four__object_two {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
                align-items: center;
                z-index: 10000;

                img {
                    width: 100%;
                    max-width: 250px;
                    box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
                    z-index: 10000;
                    display: none;
                }

                .slide-four__textarea {
                    padding: 0.5rem 1rem 0.2rem 1.5rem;
                    z-index: 10000;
                    width: 100%;
                    max-width: 650px;

                    h2 {
                        color: $main-color;
                        font-size: 28px;
                    }
                }
            }
        }
    }

    // SECTION 3 TEAM SECTION

    .s3 {
        background-image: url("../images/team-background-mirrored-transparent.png");
        background-color: $broken-white-color;
        background-size: cover;

        .team__container {
            display: flex;
            justify-content: space-evenly;

            .team__empty {
                flex: 40%;
                width: 700px;
                height: 500px;
                display: none;

                img {
                    opacity: 0;
                }
            }
            .flex-test {
                display: flex;
                flex-wrap: wrap;
                .team__card_one {
                    flex: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    text-align: left;
                    background-color: rgba(0, 0, 0, 0.6);
                    box-shadow: rgba(87, 202, 195, 0.3) -10px -10px;

                    hr {
                        text-align: left;
                        border: 0;
                        border-bottom: 0.5px solid $main-color;
                        width: 130px;
                        margin: 0;
                        margin: 0 0 0 1rem;
                    }

                    h3 {
                        color: $main-color;
                        font-size: 24px;
                        padding-left: 1rem;
                    }

                    p {
                        padding: 1rem;
                        color: white;
                    }

                    img {
                        width: 100%;
                        max-width: 500px;
                    }
                }

                .team__card_two {
                    flex: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    background-color: rgba(0, 0, 0, 0.4);
                    box-shadow: rgba(87, 202, 195, 0.3) -10px 10px;

                    hr {
                        text-align: left;
                        border: 0;
                        border-bottom: 0.5px solid $main-color;
                        width: 130px;
                        margin: 0 0 0 1rem;
                    }

                    h3 {
                        color: $main-color;
                        font-size: 24px;
                        padding-left: 1rem;
                    }

                    p {
                        padding: 1rem;
                        color: white;
                    }

                    img {
                        width: 100%;
                        max-width: 500px;
                    }
                }
            }
        }
    }
    // SECTION 4

    .s4 {
        background: rgb(248, 248, 255);

        .locations {
            display: flex;
            flex-direction: column;
            align-content: space-evenly;
            justify-content: center;
            width: 100%;
            max-width: 100vw;
            height: 100%;
            padding: 0;

            .location__one {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                gap: 2rem;
                line-height: 1.5rem;

                .line {
                    position: absolute;
                    display: none;
                    left: 49%;
                    top: 28%;
                    width: 200px;
                    height: 40px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                }

                .location__text {
                    p {
                        padding: 0.1rem;
                        font-size: 18px;
                    }

                    hr {
                        text-align: left;
                        border: 0;
                        border-bottom: 0.5px solid $main-color;
                        width: 260px;
                        margin: 0;
                    }

                    h3 {
                        color: $main-color;
                        font-size: 25px;
                        padding: 4px 0;
                    }
                }

                img {
                    width: 100%;
                    max-width: 280px;
                    box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
                }
            }

            .location__two {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                line-height: 1.5rem;
                .line {
                    position: absolute;
                    display: none;

                    right: 49%;
                    bottom: 31%;
                    width: 200px;
                    height: 40px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                }

                .location__text {
                    padding: 2rem;
                    p {
                        padding: 0.1rem;
                        font-size: 18px;
                    }
                    hr {
                        text-align: left;
                        border: 0;
                        border-bottom: 0.5px solid $main-color;
                        width: 260px;
                        margin: 0;
                    }

                    h3 {
                        color: $main-color;
                        font-size: 25px;
                        padding: 4px 0;
                    }
                }

                img {
                    width: 100%;
                    max-width: 280px;
                    box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
                }
            }
        }
    }

    // SECTION 5 FOOTER

    .s5 {
        background: rgb(240, 248, 255);
        height: 150% !important;

        .footer_one {
            height: 100%;
            hr {
                border-top: 1px solid black;
            }

            .footer-contact {
                padding: 0.8rem;

                form {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-evenly;

                    label {
                        padding: 0 1rem;
                        color: $main-color;
                        text-align: left;
                        justify-content: left;
                        font-size: 19px;
                        font-weight: 400;
                        padding: 0.6rem;
                    }

                    input {
                        width: 300px;
                        height: 40px;
                        padding: 1rem;
                        border-radius: 0;
                        border: 0;
                        border-bottom: 1px solid gray;
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                    select {
                        width: 250px;
                        height: 40px;
                        border-radius: 0;
                        border: 0;
                        border-bottom: 1px solid gray;
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                    button {
                        width: 120px;
                        height: 35px;
                        border-radius: 10px;
                        border: 1px solid white;
                        background-color: rgba(87, 202, 195, 0.7);
                        cursor: pointer;
                        margin: 1rem;
                    }

                    .footer_socials {
                        display: flex;
                        gap: 2rem;
                        padding: 1rem;

                        ion-icon {
                            font-size: 32px;
                            color: $main-color;
                            border-radius: 25%;
                            padding: 0.5rem;
                            border: 0.7px solid rgb(87, 202, 195);
                            background-color: white;
                        }
                    }
                }
            }

            .footer-links {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;

                hr {
                    text-align: left;
                    border: 0;
                    border-bottom: 0.5px solid $main-color;
                    width: 140px;
                    margin: 0;
                }

                .footer-first__two {
                    display: flex;
                    flex-direction: row;
                    gap: 0.3rem;
                    .footer-links__three {
                        display: flex;
                        flex-direction: column;
                        flex: 50%;
                        align-items: flex-start;
                        justify-content: center;

                        h3 {
                            font-size: 25px;
                            color: $main-color;
                        }

                        a {
                            padding: 5px;
                            margin: 0;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }

                    .footer-links__two {
                        display: flex;
                        flex: 50%;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h3 {
                            font-size: 25px;
                            color: $main-color;
                        }

                        a {
                            padding: 5px;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }

                .footer-second-two {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 0;

                    .footer-links__one {
                        align-items: flex-start;
                        display: flex;
                        flex: 50%;
                        flex-direction: column;
                        justify-content: center;
                        text-align: left;

                        h3 {
                            padding: 0 5px;
                            font-size: 25px;
                            color: $main-color;
                        }
                        p {
                            padding: 5px;
                            font-weight: 600;
                        }
                    }
                    .footer-links__four {
                        display: flex;
                        justify-content: center;
                        flex: 50%;
                        align-items: center;

                        .logo {
                            width: 150px;

                            img {
                                width: 100%;
                                max-width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}
