@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

// navigation bar

.hamburger-icon {
    z-index: 10000;
    position: fixed;
    left: 85%;
    font-size: 54px;
    display: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    margin: 0.5rem;
    width: 100vw;
    display: flex;
    justify-content: center;

    ion-icon {
        font-size: 20px;
        color: black;
    }

    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.15);
        width: 700px;
        position: fixed;

        li {
            text-decoration: none;
            display: block;
            padding: 1rem 2rem;
            position: relative;
            transition: all 2s ease-in-out;

            .icon {
                transition: all 2s ease-in-out;
            }

            .text {
                opacity: 0;
                transition: 1s ease;
                padding: 5px;
                font-size: 12px;
            }

            &:hover .icon {
                transform: translateY(-11px);
                transition: 1s;
            }

            &:hover .text {
                opacity: 1;
                transform: translateY(7px);
            }

            .icon-nav {
                display: flex;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 25%;
                transition: all 1s ease-in;
                padding: 1.1rem;
                text-decoration: none;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
            }

            &:hover .icon-nav {
                display: flex;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 25%;
                transform: scale(1.05);
            }

            h3 {
                font-weight: 300;
                font-size: 14px;
                position: absolute;
            }
        }
        .dropdown {
            position: relative;
            .dropdown-content {
                transition: all 1s ease-in-out;
                position: absolute;
                top: 130%;
                visibility: hidden;
                opacity: 0;
                min-width: 1100px;
                right: -600%;
                height: 250px;
                background-color: rgba(255, 255, 255, 0.9);
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding: 1rem;

                .dropdown-col__one {
                    display: flex;
                    flex-direction: column;
                    z-index: 1000;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 1rem;
                        text-align: center;
                    }

                    h4 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.fixed-contact {
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 70px;
    height: 70px;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 50px;
    }

    .small-contact {
        visibility: hidden;
        position: absolute;
        right: 50%;
        bottom: 50%;
        background-color: white;
        padding: 3rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 0 84%, 0 100%, 0% 75%);
    }
}

// SECTION 1

.s1 {
    background-image: url(../images/Background-dummy3.jpg);
    background-size: cover;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(201, 232, 254, 1);
        margin: auto;
        padding: 1rem;
    }

    .waves {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 15vh;
        min-height: 250px;
        max-height: 300px;
    }

    /* Animation */

    .parallax {
        > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
            &:nth-child(1) {
                animation-delay: -2s;
                animation-duration: 7s;
            }
            &:nth-child(2) {
                animation-delay: -3s;
                animation-duration: 10s;
            }
            &:nth-child(3) {
                animation-delay: -4s;
                animation-duration: 13s;
            }
            &:nth-child(4) {
                animation-delay: -5s;
                animation-duration: 20s;
            }
        }
    }
    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }
        100% {
            transform: translate3d(85px, 0, 0);
        }
    }
}

// SECTION 2
.s2 {
    .slide-one {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        background-image: url(../images/Background-dummy.jpg);
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
        transition: all 1s ease-in;
        .slideone__box-one {
            border: 1px solid white;
            width: 100%;
            max-width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            row-gap: 1rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1.5rem;
            margin: auto;
            transition: all 1s ease-in;

            p {
                font-size: 14px;
                text-align: center;
                opacity: 0;
                position: absolute;
                padding: 1rem;
            }

            button {
                padding: 1px 2rem;
                border: 1px solid black;
                background-color: rgba(255, 255, 255, 0.2);
                cursor: pointer;
            }

            &:hover p {
                opacity: 1;
                transition: all 1s ease-in;
                display: block;
                transform: translateY(20px);
            }

            &:hover a {
                transform: translateY(60px);
                transition: all 1s ease-in;
            }

            &:hover h2 {
                transform: translateY(-37px);
                transition: all 1s ease-in;
            }

            &:hover .first__icon {
                transform: translateY(-20px);
                transition: all 1s ease-in;
            }

            ion-icon {
                font-size: 25px;
            }

            // @keyframes pillars {
            //     0% {
            //         transform: translate3d(-90px, 0, 0);
            //     }
            //     100% {
            //         transform: translate3d(85px, 0, 0);
            //     }
            // }
        }
    }

    .slide-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: all 1s ease-in;
        .slide-two__object {
            width: 100%;
            max-width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 2rem;
            column-gap: 2rem;
            padding: 2rem;
            background-image: url(../images/Background-dummy.2jpg.jpg);
            background-size: cover;
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            transition: all 1s ease-in;

            &:hover {
                width: 100%;
                max-width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                row-gap: 2rem;
                column-gap: 2rem;
                padding: 2rem;
                transform: scale(1.01);
                background-image: url(../images/Background-dummy.2jpg.jpg);
                background-size: cover;
                box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            }

            p {
                padding: 2rem;
            }

            ion-icon {
                font-size: 25px;
            }
        }
    }

    .slide-three {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: all 1s ease-in;
        .slide-two__object {
            width: 100%;
            max-width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 2rem;
            column-gap: 2rem;
            padding: 2rem;
            background-image: url(../images/Background-dummy.2jpg.jpg);
            background-size: cover;
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            transition: all 1s ease-in;

            &:hover {
                width: 100%;
                max-width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                row-gap: 2rem;
                column-gap: 2rem;
                padding: 2rem;
                transform: scale(1.01);
                background-image: url(../images/Background-dummy.2jpg.jpg);
                background-size: cover;
                box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            }

            p {
                padding: 2rem;
            }

            ion-icon {
                font-size: 25px;
            }
        }
    }

    .slide-four {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: all 1s ease-in;
        .slide-two__object {
            width: 100%;
            max-width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 2rem;
            column-gap: 2rem;
            padding: 2rem;
            background-image: url(../images/Background-dummy.2jpg.jpg);
            background-size: cover;
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            transition: all 1s ease-in;

            &:hover {
                width: 100%;
                max-width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                row-gap: 2rem;
                column-gap: 2rem;
                padding: 2rem;
                transform: scale(1.01);
                background-image: url(../images/Background-dummy.2jpg.jpg);
                background-size: cover;
                box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            }

            p {
                padding: 2rem;
            }

            ion-icon {
                font-size: 25px;
            }
        }
    }

    .slide-five {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: all 1s ease-in;
        .slide-two__object {
            width: 100%;
            max-width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 2rem;
            column-gap: 2rem;
            padding: 2rem;
            background-image: url(../images/Background-dummy.2jpg.jpg);
            background-size: cover;
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            transition: all 1s ease-in;

            &:hover {
                width: 100%;
                max-width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                row-gap: 2rem;
                column-gap: 2rem;
                padding: 2rem;
                transform: scale(1.01);
                background-image: url(../images/Background-dummy.2jpg.jpg);
                background-size: cover;
                box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            }

            p {
                padding: 2rem;
            }

            ion-icon {
                font-size: 25px;
            }
        }
    }
}

// SECTION 3 TEAM SECTION

.s3 {
    .team__container {
        display: flex;
        flex-direction: row;

        .team__card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            width: 100%;
            max-width: 100vw;
            padding: 1rem;
            text-align: center;
            img {
                border-radius: 50%;
                padding: 1rem;
                width: 100%;
                max-width: 250px;
            }

            h4 {
                padding: 1rem;
            }

            p {
                padding: 1rem;
            }
        }
    }
}

.s4 {
    .locations {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        justify-content: center;
        width: 100%;
        max-width: 100vw;
        height: 100%;
        padding: 0;

        .location__one {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            line-height: 1.5rem;

            img {
                width: 100%;
                max-width: 380px;
                box-shadow: rgba(255, 255, 255, 0.6) 30px 30px;
            }
        }

        .location__two {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            line-height: 1.5rem;

            img {
                width: 100%;
                max-width: 380px;
                box-shadow: rgba(201, 232, 254, 0.8) -30px -30px;
            }
        }
    }
}

// MEDIA QUERIES PHONE

@media screen and (max-width: 600px) {
    .hamburger-icon {
        z-index: 10000;
        position: fixed;
        left: 85%;
        font-size: 54px;
        display: block;
    }

    .navbar {
        position: fixed;
        z-index: 1000;
        overflow: hidden;
        width: 100%;
        display: none;
        justify-content: flex-end;

        ion-icon {
            font-size: 20px;
            color: black;
        }

        .container-navbar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: white;
            width: 300px;
            height: 100%;
            max-width: 100vh;
            position: fixed;

            .icon-nav {
                padding: 1rem;
                display: flex;
                text-decoration: none;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
            }

            li {
                text-decoration: none;
                display: flex;
                padding: 1rem 2rem;
                position: relative;
                transition: all 2s ease-in-out;

                .icon {
                    transition: all 2s ease-in-out;
                }

                .text {
                    opacity: 1;
                    transition: 1s ease;
                    padding: 5px;
                }

                &:hover .icon {
                    transform: translateY(-17px);
                    transition: 1s;
                }

                a {
                    display: flex;
                    flex-direction: column;
                }

                h3 {
                    font-weight: 300;
                    font-size: 14px;
                }
            }
            .dropdown {
                position: relative;
                .dropdown-content {
                    transition: all 1s ease-in-out;
                    position: absolute;
                    top: 100%;
                    visibility: hidden;
                    opacity: 0;
                    min-width: 1200px;
                    right: -250%;
                    height: 300px;
                    background-color: #fff;
                }
            }
        }
    }
    .s2 {
        .slide-one {
            display: flex;
            height: 100vh;

            background-image: url(../images/Background-dummy.jpg);
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
            .slideone__box-one {
                border: 1px solid white;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 25vh;
                position: relative;
                display: flex;
                row-gap: 1rem;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 1.5rem;
                margin: auto;

                p {
                    font-size: 14px;
                    text-align: center;
                }

                ion-icon {
                    font-size: 25px;
                }
            }
        }
    }
    .s3 {
        .team__container {
            display: flex;
            width: 30vw;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                border-radius: 50%;
                padding: 1rem;
                width: 100%;
                max-width: 250px;
            }

            h4 {
                padding: 1rem;
            }

            p {
                padding: 1rem;
            }
        }

        div {
            .waves {
                position: relative;
                width: 100%;
                display: none;
                margin-top: auto;
                margin-bottom: -7px; /*Fix for safari gap*/
                height: 40px;
                min-height: 40px;
            }
        }

        /* Animation */

        .parallax > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
        }
        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }
            100% {
                transform: translate3d(85px, 0, 0);
            }
        }
    }
}
