@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.fp-controlArrow.fp-prev {
  top: 50.5% !important;
  left: 2%;
  width: 70px !important;
  height: 70px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: #57cac3 url("../images/previous.png") no-repeat;
  -webkit-animation: previous-button 2s infinite;
          animation: previous-button 2s infinite;
}

.fp-controlArrow.fp-prev:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  background: rgba(0, 0, 0, 0) url("../images/picture-previous-color.png");
}

@-webkit-keyframes previous-button {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  100%,
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes previous-button {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  100%,
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.fp-controlArrow.fp-next {
  top: 50.5% !important;
  right: 2%;
  width: 70px !important;
  height: 70px !important;
  background: #57cac3 url("../images/forward.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: forward-button 2s infinite;
          animation: forward-button 2s infinite;
}

.fp-controlArrow.fp-next:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(0, 0, 0, 0) url("../images/picture-forward-color.png");
}

@-webkit-keyframes forward-button {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100%,
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes forward-button {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100%,
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.fp-watermark {
  display: none !important;
}

.hamburger-icon {
  z-index: 10000;
  position: fixed;
  left: 85%;
  font-size: 54px;
  display: none;
}

.hamburger-icon ion-icon {
  font-size: 20px;
  color: black;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(87, 202, 195, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 150px;
  height: 36px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: white;
  color: #57cac3;
}

#my-nav {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 1000;
}

#my-nav li {
  padding: 0.3rem;
  list-style-type: none;
}

#my-nav li ion-icon {
  font-size: 25px;
}

.navbar {
  z-index: 1000;
  position: relative;
}

.navbar .toggle {
  position: fixed;
  top: 5%;
  right: 2%;
  width: 100%;
  max-width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/menu-icon.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(87, 202, 195, 0.6);
  z-index: 20;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding: 1.5rem;
  border: 2px solid white;
}

.navbar .toggle.active {
  background: url("../images/close-icon.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .navigation {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 330px;
  height: 100%;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 1.4s ease;
  transition: 1.4s ease;
  gap: 3rem;
}

.navbar .navigation ul {
  text-decoration: none;
  list-style-type: none;
  padding: 2.7rem;
}

.navbar .navigation ul li {
  line-height: 32px;
}

.navbar .navigation ul li a {
  text-decoration: none;
}

.navbar .navigation ul h2 {
  line-height: 32px;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 2px solid #57cac3;
  color: #57cac3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar .navigation ul h2:hover {
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  color: red;
}

.navbar .navigation .navigation__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto auto 2.2rem;
  gap: 1rem;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar .navigation .navigation__socials .button__afspraak {
  position: absolute;
  bottom: 150%;
  width: 150px;
  left: 10%;
  height: 38px;
  font-size: 14px;
  background-color: rgba(87, 202, 195, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
}

.navbar .navigation .navigation__socials .button__afspraak:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: white;
  color: #57cac3;
}

.navbar .navigation .navigation__socials .button__webshop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  top: 150%;
  left: 10%;
  height: 38px;
  font-size: 14px;
  background-color: rgba(87, 202, 195, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
}

.navbar .navigation .navigation__socials .button__webshop:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: white;
  color: #57cac3;
}

.navbar .navigation .navigation__socials .button__webshop ion-icon {
  font-size: 20px;
}

.navbar .navigation .navigation__socials .footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.navbar .navigation .navigation__socials .footer_socials .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navigation .navigation__socials .footer_socials .insta:nth-child(1) {
  font-size: 35px;
  color: white;
  border-radius: 3px;
  border: 0.7px solid #57cac3;
  background-color: rgba(87, 202, 195, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navigation .navigation__socials .footer_socials .insta:nth-child(1):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e1306c;
  background-color: white;
}

.navbar .navigation .navigation__socials .footer_socials .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navigation .navigation__socials .footer_socials .facebook:nth-child(2) {
  font-size: 35px;
  color: white;
  border-radius: 3px;
  border: 0.7px solid #57cac3;
  background-color: rgba(87, 202, 195, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navigation .navigation__socials .footer_socials .facebook:nth-child(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
  color: #4267b2;
}

.navbar .navigation .navigation__socials .footer_socials .whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navigation .navigation__socials .footer_socials .whatsapp:nth-child(3) {
  font-size: 35px;
  color: white;
  border-radius: 3px;
  border: 0.7px solid #57cac3;
  background-color: rgba(87, 202, 195, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navigation .navigation__socials .footer_socials .whatsapp:nth-child(3):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #25d366;
  background-color: white;
}

.navbar .navigation .navigation__behandelingen {
  text-decoration: none;
  list-style-type: none;
  padding: 2.7rem;
}

.navbar .navigation .navigation__behandelingen li {
  line-height: 32px;
}

.navbar .navigation .navigation__behandelingen li a {
  text-decoration: none;
}

.navbar .navigation .navigation__behandelingen h1 {
  line-height: 26px;
  font-size: 30px;
  font-weight: 700;
  color: #57cac3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar .navigation .navigation__behandelingen h2 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #57cac3;
  width: 140px;
  color: #57cac3;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navigation .navigation__behandelingen h2:hover {
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  color: red;
}

.navbar .navigation.active {
  right: 0;
}

.whatsapp-button {
  position: fixed;
  right: 0.6%;
  bottom: 1.5%;
  z-index: 1000;
}

@-webkit-keyframes whatsapp-button {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100%,
  0% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@keyframes whatsapp-button {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100%,
  0% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

.whatsapp-button a {
  position: relative;
}

.whatsapp-button a .whatsapp-dot {
  position: absolute;
  right: 8%;
  width: 12px;
  height: 12px;
  z-index: 10000;
  border: 2px solid red;
  background-color: red;
  border-radius: 50%;
  -webkit-animation: whatsapp-button 2s infinite;
          animation: whatsapp-button 2s infinite;
}

.whatsapp-button a button {
  width: 65px;
  height: 65px;
  border: none;
  background-color: #25d366;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: whatsapp-button 2s infinite;
          animation: whatsapp-button 2s infinite;
}

.whatsapp-button a button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.whatsapp-button a button ion-icon {
  color: white;
  font-size: 45px;
  margin: auto;
}

.s1 {
  background-image: url("../images/rk header 2.jpg");
  background-size: cover;
  /* Animation */
}

.s1 .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 1rem;
}

.s1 .header-title h1 {
  color: black;
  font-size: 50px;
  font-weight: 700;
  z-index: 100;
}

.s1 .header-title .logo {
  width: 500px;
  z-index: 1000;
}

.s1 .header-title .logo img {
  width: 100%;
  max-width: 500px;
}

.s1 .waves {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  min-height: 250px;
  max-height: 500px;
}

.s1 .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.s1 .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.s1 .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.s1 .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.s1 .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

.s2 .slide-one {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: rgba(87, 202, 195, 0.3);
  -webkit-box-shadow: inset 0 0 0 1000px ghostwhite;
          box-shadow: inset 0 0 0 1000px ghostwhite;
}

.s2 .slide-one .slideone__box-one {
  border: 1px solid white;
  width: 100%;
  grid: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid rgba(87, 202, 195, 0.3);
}

.s2 .slide-one .slideone__box-one a {
  text-decoration: none;
}

.s2 .slide-one .slideone__box-one hr {
  text-align: left;
  border: 0;
  border-bottom: 0.5px solid #57cac3;
  width: 130px;
  margin: 0;
}

.s2 .slide-one .slideone__box-one h2 {
  color: #57cac3;
}

.s2 .slide-one .slideone__box-one p {
  font-size: 14px;
  text-align: center;
  padding: 0.5rem 2rem;
}

.s2 .slide-one .slideone__box-one ion-icon {
  font-size: 25px;
}

.s2 .slide-two {
  position: relative;
  background: ghostwhite;
}

.s2 .slide-two .slide-two__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.s2 .slide-two .slide-two__object .slide-two__text {
  padding: 1rem;
  z-index: 10000;
  width: 100%;
  max-width: 650px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: rgba(87, 202, 195, 0.1) 30px -30px;
          box-shadow: rgba(87, 202, 195, 0.1) 30px -30px;
}

.s2 .slide-two .slide-two__object .slide-two__text h2 {
  color: #57cac3;
  font-size: 28px;
}

.s2 .slide-two .slide-two__object .slide-two__text p {
  color: white;
}

.s2 .slide-two .slide-two__object img {
  width: 100%;
  max-width: 450px;
  -webkit-box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
          box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
  z-index: 10000;
}

.s2 .slide-two .slide-two__object_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.s2 .slide-two .slide-two__object_two .slide-two__text {
  padding: 1rem;
  z-index: 10000;
  width: 100%;
  max-width: 650px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: rgba(87, 202, 195, 0.1) 30px -30px;
          box-shadow: rgba(87, 202, 195, 0.1) 30px -30px;
}

.s2 .slide-two .slide-two__object_two .slide-two__text h2 {
  color: #57cac3;
  font-size: 28px;
}

.s2 .slide-two .slide-two__object_two .slide-two__text p {
  color: white;
}

.s2 .slide-two .slide-two__object_two img {
  width: 100%;
  max-width: 450px;
  -webkit-box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
          box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
  z-index: 10000;
}

.s2 .slide-four {
  position: relative;
  background: ghostwhite;
}

.s2 .slide-four .slide-four__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.s2 .slide-four .slide-four__object img {
  width: 100%;
  max-width: 450px;
  -webkit-box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
          box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
  z-index: 10000;
}

.s2 .slide-four .slide-four__object .slide-four__textarea {
  padding: 2rem;
  z-index: 10000;
  width: 100%;
  max-width: 650px;
}

.s2 .slide-four .slide-four__object .slide-four__textarea h2 {
  color: #57cac3;
  font-size: 28px;
}

.s2 .slide-four .slide-four__object_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.s2 .slide-four .slide-four__object_two img {
  width: 100%;
  max-width: 450px;
  -webkit-box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
          box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
  z-index: 10000;
}

.s2 .slide-four .slide-four__object_two .slide-four__textarea {
  padding: 2rem;
  z-index: 10000;
  width: 100%;
  max-width: 650px;
}

.s2 .slide-four .slide-four__object_two .slide-four__textarea h2 {
  color: #57cac3;
  font-size: 28px;
}

.s3 {
  background-image: url("../images/team-background-mirrored-transparent.png");
  background-color: ghostwhite;
  background-size: cover;
}

.s3 .team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 11rem;
  padding: 2rem;
}

.s3 .team__container .team__empty {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  width: 700px;
  height: 500px;
}

.s3 .team__container .team__empty img {
  opacity: 0;
}

.s3 .team__container .flex-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
}

.s3 .team__container .flex-test .team__card_one {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: rgba(87, 202, 195, 0.3) -30px -30px;
          box-shadow: rgba(87, 202, 195, 0.3) -30px -30px;
  padding: 1rem;
}

.s3 .team__container .flex-test .team__card_one hr {
  text-align: left;
  border: 0;
  border-bottom: 0.5px solid #57cac3;
  width: 130px;
  margin: 0;
  margin: 0 0 0 1rem;
}

.s3 .team__container .flex-test .team__card_one h3 {
  color: #57cac3;
  font-size: 24px;
  padding-left: 1rem;
}

.s3 .team__container .flex-test .team__card_one p {
  padding: 1rem;
  color: white;
}

.s3 .team__container .flex-test .team__card_one img {
  width: 100%;
  max-width: 500px;
}

.s3 .team__container .flex-test .team__card_two {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: rgba(87, 202, 195, 0.3) -30px 30px;
          box-shadow: rgba(87, 202, 195, 0.3) -30px 30px;
}

.s3 .team__container .flex-test .team__card_two hr {
  text-align: left;
  border: 0;
  border-bottom: 0.5px solid #57cac3;
  width: 130px;
}

.s3 .team__container .flex-test .team__card_two h3 {
  color: #57cac3;
  font-size: 24px;
}

.s3 .team__container .flex-test .team__card_two p {
  padding: 1rem 0;
  color: white;
}

.s3 .team__container .flex-test .team__card_two img {
  width: 100%;
  max-width: 500px;
}

.s4 {
  background: ghostwhite;
}

.s4 .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 0;
}

.s4 .locations .location__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  line-height: 1.5rem;
}

.s4 .locations .location__one .line {
  position: absolute;
  left: 49%;
  top: 28%;
  width: 200px;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.s4 .locations .location__one .location__text p {
  padding: 0.1rem;
  font-size: 18px;
}

.s4 .locations .location__one .location__text hr {
  text-align: left;
  border: 0;
  border-bottom: 0.5px solid #57cac3;
  width: 260px;
  margin: 0;
}

.s4 .locations .location__one .location__text h3 {
  color: #57cac3;
  font-size: 25px;
  padding: 4px 0;
}

.s4 .locations .location__one .location__text button {
  margin: 0.2rem 0.2rem 0.2rem 0;
}

.s4 .locations .location__one img {
  width: 100%;
  max-width: 380px;
  -webkit-box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
          box-shadow: rgba(87, 202, 195, 0.7) 30px 30px;
}

.s4 .locations .location__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  line-height: 1.5rem;
}

.s4 .locations .location__two .line {
  position: absolute;
  right: 49%;
  bottom: 31%;
  width: 200px;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.s4 .locations .location__two .location__text {
  padding: 2rem;
}

.s4 .locations .location__two .location__text p {
  padding: 0.1rem;
  font-size: 18px;
}

.s4 .locations .location__two .location__text hr {
  text-align: left;
  border: 0;
  border-bottom: 0.5px solid #57cac3;
  width: 260px;
  margin: 0;
}

.s4 .locations .location__two .location__text h3 {
  color: #57cac3;
  font-size: 25px;
  padding: 4px 0;
}

.s4 .locations .location__two .location__text button {
  margin: 0.2rem 0.2rem 0.2rem 0;
}

.s4 .locations .location__two img {
  width: 100%;
  max-width: 380px;
  -webkit-box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
          box-shadow: rgba(87, 202, 195, 0.7) -30px -30px;
}

.s5 {
  background: aliceblue;
}

.s5 .footer_one {
  height: 40vh;
}

.s5 .footer_one hr {
  border-top: 1px solid black;
}

.s5 .footer_one .footer-contact {
  padding: 0.8rem;
}

.s5 .footer_one .footer-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.s5 .footer_one .footer-contact form label {
  padding: 0 1rem;
  color: #57cac3;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 19px;
  font-weight: 400;
}

.s5 .footer_one .footer-contact form input {
  width: 300px;
  height: 40px;
  padding: 1rem;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
}

.s5 .footer_one .footer-contact form select {
  width: 250px;
  height: 40px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.7);
}

.s5 .footer_one .footer-contact form .footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.s5 .footer_one .footer-contact form .footer_socials .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.s5 .footer_one .footer-contact form .footer_socials .insta:nth-child(1) {
  font-size: 35px;
  color: white;
  border-radius: 3px;
  border: 0.7px solid #57cac3;
  background-color: rgba(87, 202, 195, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s5 .footer_one .footer-contact form .footer_socials .insta:nth-child(1):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e1306c;
  background-color: white;
}

.s5 .footer_one .footer-contact form .footer_socials .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.s5 .footer_one .footer-contact form .footer_socials .facebook:nth-child(2) {
  font-size: 35px;
  color: white;
  border-radius: 3px;
  border: 0.7px solid #57cac3;
  background-color: rgba(87, 202, 195, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s5 .footer_one .footer-contact form .footer_socials .facebook:nth-child(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
  color: #4267b2;
}

.s5 .footer_one .footer-contact form .footer_socials .whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.s5 .footer_one .footer-contact form .footer_socials .whatsapp:nth-child(3) {
  font-size: 35px;
  color: white;
  border-radius: 3px;
  border: 0.7px solid #57cac3;
  background-color: rgba(87, 202, 195, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s5 .footer_one .footer-contact form .footer_socials .whatsapp:nth-child(3):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #25d366;
  background-color: white;
}

.s5 .footer_one .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
}

.s5 .footer_one .footer-links hr {
  text-align: left;
  border: 0;
  border-bottom: 0.5px solid #57cac3;
  width: 180px;
  margin: 0;
}

.s5 .footer_one .footer-links .footer-first__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10rem;
}

.s5 .footer_one .footer-links .footer-first__two .footer-links__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s5 .footer_one .footer-links .footer-first__two .footer-links__three h3 {
  font-size: 25px;
  color: #57cac3;
}

.s5 .footer_one .footer-links .footer-first__two .footer-links__three a {
  padding: 5px;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
}

.s5 .footer_one .footer-links .footer-first__two .footer-links__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s5 .footer_one .footer-links .footer-first__two .footer-links__two h3 {
  font-size: 25px;
  color: #57cac3;
}

.s5 .footer_one .footer-links .footer-first__two .footer-links__two a {
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
}

.s5 .footer_one .footer-links .footer-second-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}

.s5 .footer_one .footer-links .footer-second-two .footer-links__one {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.s5 .footer_one .footer-links .footer-second-two .footer-links__one h3 {
  padding: 0 5px;
  font-size: 25px;
  color: #57cac3;
}

.s5 .footer_one .footer-links .footer-second-two .footer-links__one p {
  padding: 5px;
  font-weight: 600;
}

.s5 .footer_one .footer-links .footer-second-two .footer-links__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s5 .footer_one .footer-links .footer-second-two .footer-links__four .logo {
  width: 200px;
}

.s5 .footer_one .footer-links .footer-second-two .footer-links__four .logo img {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 600px) {
  .navbar {
    z-index: 1000;
  }
  .navbar .toggle {
    position: fixed;
    top: 1%;
    right: 2%;
    width: 30px;
    height: 30px;
    background: url("../images/menu-icon.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(87, 202, 195, 0.6);
    z-index: 20;
    cursor: pointer;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    padding: 1.5rem;
    border: 2px solid white;
  }
  .navbar .navigation.active {
    right: 0;
  }
  .s1 {
    background-image: url("../images/rk header.jpg");
    background-size: cover;
    /* Animation */
  }
  .s1 .header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding: 1rem;
  }
  .s1 .header-title h1 {
    color: black;
    font-size: 50px;
    font-weight: 700;
    z-index: 100;
  }
  .s1 .header-title .logo {
    width: 300px;
    z-index: 1000;
  }
  .s1 .header-title .logo img {
    width: 100%;
    max-width: 300px;
  }
  .s1 div .waves {
    position: relative;
    width: 100%;
    display: none;
    margin-top: auto;
    z-index: 10000000à;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    height: 40px;
    min-height: 40px;
  }
  .s1 .parallax > use {
    -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .s1 .parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
  }
  .s1 .parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
  .s1 .parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
  }
  .s1 .parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  @-webkit-keyframes move-forever {
    0% {
      -webkit-transform: translate3d(-90px, 0, 0);
              transform: translate3d(-90px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(85px, 0, 0);
              transform: translate3d(85px, 0, 0);
    }
  }
  @keyframes move-forever {
    0% {
      -webkit-transform: translate3d(-90px, 0, 0);
              transform: translate3d(-90px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(85px, 0, 0);
              transform: translate3d(85px, 0, 0);
    }
  }
  .s2 .slide-one {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    background-color: rgba(87, 202, 195, 0.3);
    -webkit-box-shadow: inset 0 0 0 1000px ghostwhite;
            box-shadow: inset 0 0 0 1000px ghostwhite;
  }
  .s2 .slide-one .slideone__box-one {
    border: 1px solid white;
    width: 100%;
    grid: 100%;
    max-width: 100%;
    max-height: 350px;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    border: 1px solid rgba(87, 202, 195, 0.3);
  }
  .s2 .slide-one .slideone__box-one button {
    margin: 0.2rem;
  }
  .s2 .slide-two {
    position: relative;
    background: ghostwhite;
  }
  .s2 .slide-two .slide-two__object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
  }
  .s2 .slide-two .slide-two__object .slide-two__text {
    padding: 1rem;
    z-index: 10000;
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(87, 202, 195, 0.1) 10px -10px;
            box-shadow: rgba(87, 202, 195, 0.1) 10px -10px;
  }
  .s2 .slide-two .slide-two__object .slide-two__text h2 {
    color: #57cac3;
    font-size: 28px;
  }
  .s2 .slide-two .slide-two__object .slide-two__text p {
    color: white;
  }
  .s2 .slide-two .slide-two__object img {
    width: 100%;
    max-width: 250px;
    -webkit-box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
            box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
    z-index: 10000;
  }
  .s2 .slide-two .slide-two__object_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
  }
  .s2 .slide-two .slide-two__object_two .slide-two__text {
    padding: 1rem;
    z-index: 10000;
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(87, 202, 195, 0.1) 10px -10px;
            box-shadow: rgba(87, 202, 195, 0.1) 10px -10px;
  }
  .s2 .slide-two .slide-two__object_two .slide-two__text h2 {
    color: #57cac3;
    font-size: 28px;
  }
  .s2 .slide-two .slide-two__object_two .slide-two__text p {
    color: white;
  }
  .s2 .slide-two .slide-two__object_two img {
    display: none;
    width: 100%;
    max-width: 250px;
    -webkit-box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
            box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
    z-index: 10000;
  }
  .s2 .slide-four {
    position: relative;
    background: ghostwhite;
  }
  .s2 .slide-four .slide-four__object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
  }
  .s2 .slide-four .slide-four__object img {
    width: 100%;
    max-width: 250px;
    -webkit-box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
            box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
    z-index: 10000;
  }
  .s2 .slide-four .slide-four__object .slide-four__textarea {
    padding: 0.5rem 1rem 0.2rem 1.5rem;
    z-index: 10000;
    width: 100%;
    max-width: 650px;
  }
  .s2 .slide-four .slide-four__object .slide-four__textarea h2 {
    color: #57cac3;
    font-size: 28px;
  }
  .s2 .slide-four .slide-four__object_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
  }
  .s2 .slide-four .slide-four__object_two img {
    width: 100%;
    max-width: 250px;
    -webkit-box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
            box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
    z-index: 10000;
    display: none;
  }
  .s2 .slide-four .slide-four__object_two .slide-four__textarea {
    padding: 0.5rem 1rem 0.2rem 1.5rem;
    z-index: 10000;
    width: 100%;
    max-width: 650px;
  }
  .s2 .slide-four .slide-four__object_two .slide-four__textarea h2 {
    color: #57cac3;
    font-size: 28px;
  }
  .s3 {
    background-image: url("../images/team-background-mirrored-transparent.png");
    background-color: ghostwhite;
    background-size: cover;
  }
  .s3 .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .s3 .team__container .team__empty {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    width: 700px;
    height: 500px;
    display: none;
  }
  .s3 .team__container .team__empty img {
    opacity: 0;
  }
  .s3 .team__container .flex-test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s3 .team__container .flex-test .team__card_one {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(87, 202, 195, 0.3) -10px -10px;
            box-shadow: rgba(87, 202, 195, 0.3) -10px -10px;
  }
  .s3 .team__container .flex-test .team__card_one hr {
    text-align: left;
    border: 0;
    border-bottom: 0.5px solid #57cac3;
    width: 130px;
    margin: 0;
    margin: 0 0 0 1rem;
  }
  .s3 .team__container .flex-test .team__card_one h3 {
    color: #57cac3;
    font-size: 24px;
    padding-left: 1rem;
  }
  .s3 .team__container .flex-test .team__card_one p {
    padding: 1rem;
    color: white;
  }
  .s3 .team__container .flex-test .team__card_one img {
    width: 100%;
    max-width: 500px;
  }
  .s3 .team__container .flex-test .team__card_two {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(87, 202, 195, 0.3) -10px 10px;
            box-shadow: rgba(87, 202, 195, 0.3) -10px 10px;
  }
  .s3 .team__container .flex-test .team__card_two hr {
    text-align: left;
    border: 0;
    border-bottom: 0.5px solid #57cac3;
    width: 130px;
    margin: 0 0 0 1rem;
  }
  .s3 .team__container .flex-test .team__card_two h3 {
    color: #57cac3;
    font-size: 24px;
    padding-left: 1rem;
  }
  .s3 .team__container .flex-test .team__card_two p {
    padding: 1rem;
    color: white;
  }
  .s3 .team__container .flex-test .team__card_two img {
    width: 100%;
    max-width: 500px;
  }
  .s4 {
    background: ghostwhite;
  }
  .s4 .locations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
  }
  .s4 .locations .location__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    line-height: 1.5rem;
  }
  .s4 .locations .location__one .line {
    position: absolute;
    display: none;
    left: 49%;
    top: 28%;
    width: 200px;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .s4 .locations .location__one .location__text p {
    padding: 0.1rem;
    font-size: 18px;
  }
  .s4 .locations .location__one .location__text hr {
    text-align: left;
    border: 0;
    border-bottom: 0.5px solid #57cac3;
    width: 260px;
    margin: 0;
  }
  .s4 .locations .location__one .location__text h3 {
    color: #57cac3;
    font-size: 25px;
    padding: 4px 0;
  }
  .s4 .locations .location__one img {
    width: 100%;
    max-width: 280px;
    -webkit-box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
            box-shadow: rgba(87, 202, 195, 0.7) 10px 10px;
  }
  .s4 .locations .location__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    line-height: 1.5rem;
  }
  .s4 .locations .location__two .line {
    position: absolute;
    display: none;
    right: 49%;
    bottom: 31%;
    width: 200px;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .s4 .locations .location__two .location__text {
    padding: 2rem;
  }
  .s4 .locations .location__two .location__text p {
    padding: 0.1rem;
    font-size: 18px;
  }
  .s4 .locations .location__two .location__text hr {
    text-align: left;
    border: 0;
    border-bottom: 0.5px solid #57cac3;
    width: 260px;
    margin: 0;
  }
  .s4 .locations .location__two .location__text h3 {
    color: #57cac3;
    font-size: 25px;
    padding: 4px 0;
  }
  .s4 .locations .location__two img {
    width: 100%;
    max-width: 280px;
    -webkit-box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
            box-shadow: rgba(87, 202, 195, 0.7) -10px -10px;
  }
  .s5 {
    background: aliceblue;
    height: 150% !important;
  }
  .s5 .footer_one {
    height: 100%;
  }
  .s5 .footer_one hr {
    border-top: 1px solid black;
  }
  .s5 .footer_one .footer-contact {
    padding: 0.8rem;
  }
  .s5 .footer_one .footer-contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .s5 .footer_one .footer-contact form label {
    padding: 0 1rem;
    color: #57cac3;
    text-align: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 19px;
    font-weight: 400;
    padding: 0.6rem;
  }
  .s5 .footer_one .footer-contact form input {
    width: 300px;
    height: 40px;
    padding: 1rem;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .s5 .footer_one .footer-contact form select {
    width: 250px;
    height: 40px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .s5 .footer_one .footer-contact form button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(87, 202, 195, 0.7);
    cursor: pointer;
    margin: 1rem;
  }
  .s5 .footer_one .footer-contact form .footer_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }
  .s5 .footer_one .footer-contact form .footer_socials ion-icon {
    font-size: 32px;
    color: #57cac3;
    border-radius: 25%;
    padding: 0.5rem;
    border: 0.7px solid #57cac3;
    background-color: white;
  }
  .s5 .footer_one .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .s5 .footer_one .footer-links hr {
    text-align: left;
    border: 0;
    border-bottom: 0.5px solid #57cac3;
    width: 140px;
    margin: 0;
  }
  .s5 .footer_one .footer-links .footer-first__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.3rem;
  }
  .s5 .footer_one .footer-links .footer-first__two .footer-links__three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s5 .footer_one .footer-links .footer-first__two .footer-links__three h3 {
    font-size: 25px;
    color: #57cac3;
  }
  .s5 .footer_one .footer-links .footer-first__two .footer-links__three a {
    padding: 5px;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
  }
  .s5 .footer_one .footer-links .footer-first__two .footer-links__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s5 .footer_one .footer-links .footer-first__two .footer-links__two h3 {
    font-size: 25px;
    color: #57cac3;
  }
  .s5 .footer_one .footer-links .footer-first__two .footer-links__two a {
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
  }
  .s5 .footer_one .footer-links .footer-second-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .s5 .footer_one .footer-links .footer-second-two .footer-links__one {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .s5 .footer_one .footer-links .footer-second-two .footer-links__one h3 {
    padding: 0 5px;
    font-size: 25px;
    color: #57cac3;
  }
  .s5 .footer_one .footer-links .footer-second-two .footer-links__one p {
    padding: 5px;
    font-weight: 600;
  }
  .s5 .footer_one .footer-links .footer-second-two .footer-links__four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s5 .footer_one .footer-links .footer-second-two .footer-links__four .logo {
    width: 150px;
  }
  .s5 .footer_one .footer-links .footer-second-two .footer-links__four .logo img {
    width: 100%;
    max-width: 150px;
  }
}
/*# sourceMappingURL=style.css.map */